<!--<div class="booking">
    <form action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">Check-In & Check-Out</h2>
        <div *ngIf="!totalPrice">
            <div class="form-group">
                <input type="date" class="form-control" name="checkIn" [(ngModel)]="bookingDetails.checkIn"
                    placeholder="Check-In" required="required">
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="checkOut" [(ngModel)]="bookingDetails.checkOut"
                    placeholder="Check-Out" required="required">
            </div>
            
        <div class="form-group">
                <button type="submit" class="btn btn-info btn-lg btn-block"
                    (click)="proceedBooking()">Proceed</button>
            </div>
        </div>
        <div class="col-sm-12" *ngIf="dateDifference && totalPrice">
            <div class="jumbotron text-right">
                No Of Days : {{dateDifference}} <br>
                Price Per Day: {{this.restApi.selectedRoom.price | number}} <br>
                <hr>
                Total Price: {{totalPrice | number}}
            </div>-->


            <!-- <div> -->

<!--

            <div class="container">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success btn-block"
                            (click)="onConfirmation()">Confirm</button>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-warning btn-block" (click)="totalPrice = 0">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>-->