<div class="about-section">
    <h1>About Us Page</h1>
    <p>Karthik Estate Hotel has 62 Executive Rooms. As all our rooms, they are non-smoking with sound-proof and a private bathroom.
        Ideal for short or long-term stays, the 84 fully-furnished and fully-equipped serviced residences offer all the
         comforts of home with highly-personalized service in a safe and exclusive residential environment.
          Expatriate or travelling families will enjoy its gated community equipped with a swimming pool, 
          playground and courtyard; while business travellers will find their professional needs catered to by a range 
          of facilities for this purpose.


    </p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Rooms</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/room1.jpg" alt="Jane" style="width:100%">
        
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/room2.jpg" alt="Mike" style="width:100%">
        
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/room3.jpg" alt="John" style="width:100%">
        
      </div>
    </div>
  </div>