<div class="about-section">
  <h1>About Us </h1>
  <p> Rolling out the red carpet for guests from across the globe in its unique way, the Legado Hotel has created a
    benchmark
    in the world of hospitality. Offering uncompromising luxury, best-in-class service and world-class amenities, each
    of
    the three properties under the Legado Hotel promise a five star experience, in every sense.</p>

  <p>The Legado Hotel in US is an invitation to experience opulence right in the midst of sea, surf and sand.
    A contrast to the party-scene in paris, Legado Hotel takes you on a satisfying journey of serenity and beauty,
    amidst the many hues of green. Offering luxury right in the middle of a bustling IT locale, the Legado Hotel
    is the perfect destination for those who mean business.</p>
</div>
<br><br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/room1.jpg" alt="img" style="width:100%">
      <div class="card-body">
        <h5 class="card-title" style="text-align:center">NON AC</h5>
        <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          These Standard Non-AC Rooms Provides you the Economic way of the accommodation.
          These rooms are more spacious laid out neatly with a simple decor give more comfortable.</p><br><br>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/room2.jpg" alt="img" style="width:100%">
      <div class="card-body">
        <h5 class="card-title" style="text-align:center">LUXURY</h5>
        <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With muted interiors in pleasing
          earthy tones, this room is sure to make you feel peaceful.
          Our Luxury rooms are crafted for heavenly comfort with soft mattresses,
          a king-sized bed and a living room area for spacious room experience.
          Enjoy the feeling of lounging around in the Luxury room and take the chance to simply forget the world
          outside.</p>



      </div>

    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/room3.jpg" alt="img" style="width:100%">
      <div class="card-body">
        <h5 class="card-title" style="text-align:center">AC</h5>
        <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The AC Rooms provided are designed by
          well known
          interior designers and are luxurious in very sense.</p><br><br><br>
      </div>

    </div>
  </div>
</div>