<body [ngStyle]="{'background-image': getUrl()}">
  <div class="text-center" style="color: #e9ecef;
  margin-bottom: -0.6%;
  background: #ececec91;
  letter-spacing: 11px; text-shadow: 2px 2px grey;">
    <h1> LEGADO HOTELS</h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e9ecef;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/room-list" routerLinkActive="active">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
        </li>

      </ul>

      <div class="form-inline my-2 my-lg-0" *ngIf="loggedInUser && loggedInUser.name">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{loggedInUser.name}}
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" routerLink="/booking-details/{{loggedInUser.emailId}}" routerLinkActive="active">My
              Booking</a>
            <div class="dropdown-divider"></div>

            <div class="dropdown-item" (click)="logOut()">Log Out</div>
          </div>
        </div>
      </div>
      <div class="form-inline my-2 my-lg-0" *ngIf="!(loggedInUser && loggedInUser.name)">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <p class="text-center">Copyright @2021 | Designed by <a href="#">Legado hotels</a> All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>