<div class="login-form">
  <form #customerForm="ngForm" (ngSubmit)="customerForm.form.valid && resetPassword()">
    <h2 class="text-center">Forgot Password?</h2>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="passwordDetails.customerId" name="customerId"
        #customerId="ngModel"
        [ngClass]="{ 'is-invalid': customerId.invalid && (customerForm.submitted || customerId.touched) }"
        placeholder="Customer Id" required>
      <div *ngIf="customerId?.errors?.required" class="invalid-feedback">CustomerId is required</div>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="passwordDetails.password" name="newPassword"
        minlength="8" #password="ngModel"
        [ngClass]="{ 'is-invalid': password.invalid && (customerForm.submitted || password.touched) }"
        placeholder="New Password" required>
      <div *ngIf="password?.errors?.required" class="invalid-feedback">Password is required</div>
      <div *ngIf="password?.errors?.minlength" class="invalid-feedback">Password should contain minimum 8 characters
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="confirmPaassword" name="confirmPassword"
        #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': (confirmPassword.invalid || (password.value !== confirmPassword.value)) && 
              (customerForm.submitted || confirmPassword.touched)}" placeholder="Confirm Password" required>
      <div *ngIf="confirmPassword.invalid || (password.value !== confirmPassword.value)" class="invalid-feedback">
        <div *ngIf="confirmPassword?.errors?.required">Confirm Password is required</div>
        <div *ngIf="password?.value && confirmPassword?.value && (password?.value !== confirmPassword?.value)">
          Password and Confirm Password Should be same.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-info btn-lg btn-block">Reset Password</button>
    </div>

    <a routerLink="/login" routerLinkActive="active">Login</a>
  </form>

</div>