<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h3>Make your reservation</h3>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group"> <input class="form-control" type="date" name="checkIn"
                                    [(ngModel)]="checkIn" required [min]="today | date:'yyyy-MM-dd'"
                                    (ngModelChange)="emptyCheckOut()"> <span class="form-label">Check In</span> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"> <input class="form-control" type="date" name="checkOut"
                                    [(ngModel)]="checkOut" required [disabled]="!checkIn"
                                    [min]="minDateCheckOut | date:'yyyy-MM-dd'"> <span class="form-label">Check
                                    out</span> </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" [(ngModel)]="roomType"
                                    (ngModelChange)="getCapacityAndPrice()">
                                    <option selected hidden>room types</option>
                                    <option *ngFor="let room of roomTypes;" [(ngModel)]="roomType">{{room}}</option>

                                </select>
                                <span class="select-arrow"></span> <span class="form-label">Rooms</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"> <input class="form-control" type="number" name="spiner" min="0"
                                    max="5" step="1" [(ngModel)]="noOfRooms"
                                    (ngModelChange)="getPriceAfterNoOfRooms(roomType,noOfRooms)"> <span
                                    class="form-label">no of rooms</span> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"> <input class="form-control" type="text" min="0" max="5" step="1"
                                    [(ngModel)]="capacity" disabled> <span class="form-label">capacity</span> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"> <input type="text" class="form-control" [(ngModel)]="couponCode"
                                    (change)="getPriceAfterNoOfRooms(roomType,noOfRooms)"> <span
                                    class="form-label">coupon Code</span> </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group"> <input type="text" class="form-control" [(ngModel)]="price"
                                    disabled> <span class="form-label">Cost</span> </div>
                        </div>
                    </div>
                    <div class="form-btn"> <button class="submit-btn" (click)="preCreateReservation()">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>