<div class="contact">
    <div>
        <div class="card bg-light mb-3">
            <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Contact Us</div>
            <div class="card-body">
                <p>KARTHIK ESTATE</p>
                <p>75008 PARIS</p>
                <p>France</p>
                <p>Email : karthik@gmail.com</p>
                <p>Tel. +33 12 56 11 51 84</p>

                <div class="text-center">Back To Home Page? <a routerLink="/app-home"
                        routerLinkActive="active">Home</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Grid column -->

    <!-- Grid column -->
    <!-- <div class="col-lg-4">
</div> -->
    <!-- <div class="contact jumbotron">

    <div class="card-body contact text-center h-100 white-text">

        <h3 class="my-4 pb-2">Contact information</h3>
        <ul class="text-lg-left list-unstyled ml-4">
            <li>
                <p>
                    New York, 94126, USA
                </p>
            </li>
            <li>
                <p>
                    + 01 234 567 89
                </p>
            </li>
            <li>
                <p>
                    contact@example.com
                </p>
            </li>
        </ul>
        <hr class="hr-light my-4">
        <ul class="list-inline text-center list-unstyled">
            <li class="list-inline-item">
                <a class="p-2 fa-lg tw-ic">
                </a>
            </li>
            <li class="list-inline-item">
                <a class="p-2 fa-lg li-ic">
                </a>
            </li>
            <li class="list-inline-item">
                <a class="p-2 fa-lg ins-ic">
                </a>
            </li>
        </ul>

    </div>

</div> -->
    <!-- <div class="col-lg-4">
</div> -->
    <!-- Grid column -->

    <!-- Form with header -->