<div class="contact">
    <div class="container jumbotron">
        <div class="form">
            <div class="contact-info">
                <h3 class="title">Let's get in touch</h3>
                <hr>
                <p class="text"> Contact us with the following details. </p><br>
                <div class="info">
                    <div class="social-information"> <i class="fa fa-map-marker"></i>
                        <p>NPM,NY,USA</p>
                    </div>
                    <div class="social-information"> <i class="fa fa-envelope-o"></i>
                        <p>legadohotels@gmail.com</p>
                    </div>
                    <div class="social-information"> <i class="fa fa-mobile-phone"></i>
                        <p>+1 989 989 9898 </p>
                    </div>
                </div>

            </div>

        </div>
    </div>